
body    {
    background-image: url(../images/white.jpg);
}

#cardBody   {
    padding: 0%;
    
}

#cardImg {
    height: 175px;
    width: 100%;
}

#navbar {
    width: 100%;
    background-color: rgb(7, 4, 0);
    background-image: url(../images/dark-honeycomb.png);
    
}

#myPic  {
    float: left;
    margin: 10px 20px 10px 0px;
}

#btmBorder  {
    border-color: goldenrod;
}

#card {
    background-color: #d9d9d9;
}

#footer {
    background-image: url(../images/dark-honeycomb.png);
}

#resume {
    color: goldenrod;
}

#resume:hover {
    color: Grey;
}
#media-links{
    color: white;
}

#media-links:hover{
    color: grey;
}

#media-links    {
    margin: 0px 5px
}

/* #about-container    {
    margin-top: 200px;
} */

/* .card-img-top {
    width: 100%;
    height: 11vw;
    object-fit: cover;
} */
